* {
	margin: 0px;
	padding: 0px;
}
a {
text-decoration: none;
}

header {
	min-height:800px;
	background-image: url(img/2.png);
	background-attachment: fixed;
	background-color: rgba(48,58,69,0.45);
	background-blend-mode: overlay;
	background-size: cover;
	background-position: center;

}
.wrapper {
	width: 75%;
	margin: 0 auto;
}
.header-wrapper {
display:flex;
align-items:center;
justify-content:space-around;
height:120px;
}
.header-top {
height:110px;
background-color: rgba(0,0,0,0.45);
}
/*.logo {
height: 55px;
}*/
.header-top nav  {
padding:10px 20px 20px 20px;
}
.header-top nav a{
color:white;
text-decoration:none;
padding:15px;
margin:0 15px;
font-size:18px;
}
.header-top nav a:hover {
	color:rgba(188, 140, 55, 1);
border-bottom: 1px solid white;
border-top: 1px solid white;
transition: 0.2s;
}
.nav{
	display: none;
	position: absolute;
	z-index: 999;
	top: 25.5px;
	right: 30px;
}
.promo {
	text-align: center;
    margin-top: 250px;
}
.promo h1 {
	color:white;
	font-weight: normal;
	font-size: 40px;
}
.promo p {
	margin-top: 30px;
color:white;
font-family: 'Open Sans', sans-serif;
font-size: 17px;
line-height: 1.5;
}
.promo a {
	text-align: left;
	text-decoration: underline;
	color: white;
}
.promo a:hover {
	text-decoration: none;
}
/*.promo img {
	margin-top:150px;
	opacity: 0.8;
}
.promo img:hover {
	opacity: 1;
}*/
.line {
	width:100%;
	height:150px;
	background-color: #f1f0ec;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}
.line h4 {
	color:rgba(188, 140, 55, 1);
	font-size:30px;
}
.container-fluid {
	width:75%;
	margin:0 auto;
}
.navbar {
	background-color: rgba(0,0,0,0.45) !important;
}
.nav-item {
text-align: center;
}
.nav-item a {
	color:white !important;
text-decoration:none;
padding:15px;
margin:0 15px !important;
font-size:18px !important;
}
.nav-item a:hover {
	color:rgba(188, 140, 55, 1) !important;
border-bottom: 1px solid white;
border-top: 1px solid white;
transition: 0.2s;
}
.nav-link {
	border:1px solid rgba(0,0,0,0);
}